# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.cache/
.temp/

# Logs
logs
*.log

# Env (user will create manually; listed in README)
*.env
*.env.*

# IDE
.vscode/
.idea/
.DS_Store

# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.*
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*
infra/terraform/crash.log
infra/terraform/.terraform.lock.hcl
